@using NetFlex.DAL.Enums

@model IEnumerable<NetFlex.WEB.ViewModels.RoleViewModel>
@inject NetFlex.BLL.Interfaces.IRoleService _roleManager

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["CurrentPage"] = AdminPages.Roles;
}

<div class="layout">
	<div class="vertical">
		<div class="block">
			<div class="wrapper">
				<div class="topic">Role list</div>
			</div>
		</div>
		<div class="horizontal m-0">
			<div class="block">
				<div class="horizontal m-0">
					<button type="button" class="btn btn-primary m-2" onclick="loadAddRole()">
						Add role
					</button>
				</div>
			</div>
		</div>
		<div class="block" label="test">
			<table class="table rolesTable">
				@foreach (var item in Model)
				{
					<tr class="AllRoles" data-name="@item.Name" data-id="@item.Id">
						<td class="rolename">@item.Name</td>
						<td>
							<button type="button" class="btn btn-danger m-2" onclick="RemoveRole('@item.Id')">
								Remove
							</button>
						</td>
						<td>
							<button onclick="loadEditRole('@item.Id')" type="button" class="btn btn-primary m-2">
								Edit
							</button>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script>
	</script>
}